body{
    background-color: #CC252C ; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    text-align: center;
}
img{
    max-width: 300px;
    max-height: 300px;
    display:block;
    padding: 5px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}
hr{
    width:auto;
    height: 5px;
    background-color: black;
    margin:20px;
}
ul{
    border: solid 5px; 
    padding:5px;
}
ol{
    border: dotted 5px;
    padding:5px;
}